<div class='app-card-container'>
  <div class='card'>
    <div class="about-me-header">
      <h1>About Me</h1>
      <div><%= link_to "Resume", "AKnolla-resume.pdf", class: "resume" %></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", alt: "profile image", class: 'profile-image' %>
        <!-- <div class='skills'>
          <% @skills.each do |skill| %>
            <div class='skill'>
              <h4><%= skill.title %>
              <div class='progress'>
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                >
                </div>
              </div>
            </div>
          <% end %>
        </div> -->
      </div>
      <div class="col-md-8 about-content">
        <p>After maintaining helicopters in the Marine Corps for 5 years, and then building high-speed pumps and compressors for a few years after moving to Colorado, I decided in 2016 to shift over to building and fixing code. The coding bootcamp at Galvanize started me off with JavaScript, AJAX, Agile, git version control, databases, and learning as a skill.
        </p>
        <p>With a few years of enterprise development experience, having broadened my skills beyond my JavaScript foundation, I am now trying to refocus on my core knowledge and dive deeper into front-end web development, especially JavaScript. That is what first drew me to coding and there is lots more to dig into. Having contributed to many large, often legacy applications, what I'm excited about now is to do more building from the ground up. 
        </p>

        <p>This year (2022) I took a break between jobs to focus on family and a personal interest in art. I took drawing and painting classes with an artist I deeply admire, my wife and I hiked 130 miles of the Colorado trail from Durango to near Lake City, and I helped my 7 year old stepson learn to read.
        </p>
        <!-- <p>
          <button
            class='btn btn-primary'
            type='button'
            data-toggle='collapse'
            data-target='#jobHistory'
            aria-expanded='false'
            aria-controls='jobHistory'
          >
            Job History
          </button>
        </p>
        <p>
          <div class='collapse' id='jobHistory'>
            <div class='card-block'>
              Jobzzzzz
            </div>
            <div class='card-block'>
              Job 2
            </div>
          </div>
        </p> -->
      </div>
    </div>
  </div>
</div>
