<div class='app-card-container'>
  <div class='card'>
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", alt: "profile image", class: 'profile-image' %>
        <!-- <div class='skills'>
          <% @skills.each do |skill| %>
            <div class='skill'>
              <h4><%= skill.title %>
              <div class='progress'>
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                >
                </div>
              </div>
            </div>
          <% end %>
        </div> -->
      </div>
      <div class="col-md-8 about-content">

        <p>I've been obsessed with building for the web since 2015. Keeping up with its constant evolution satisfies my learning compulsion and developing lets me exercise my creative drive by striving for elegance in my code and user interfaces.
        </p>

        <p>Helping others makes me happy so please reach out if you think I can solve a problem for you. I went to Galavanize (a 6 month full-stack boot camp) in 2016 so <%= link_to 'hit me up', contact_path %> if you're curious about them or coding boot camps in general.
        </p>

        <p>Long before Galvanize, I fixed helicopters for the Marine Corps. Then I built high-speed pumps and compressors and learned how to weld. These days I build with code and I'll never go back--but believe it or not, programming draws from my years of experience building and fixing machines. It's all problem solving!
        </p>

        <p>If I’m not coding I’m usually either running trails, climbing rocks, reading, birding, or looking at stars.
        </p>

        </p>
        <!-- <p>
          <button
            class='btn btn-primary'
            type='button'
            data-toggle='collapse'
            data-target='#jobHistory'
            aria-expanded='false'
            aria-controls='jobHistory'
          >
            Job History
          </button>
        </p>
        <p>
          <div class='collapse' id='jobHistory'>
            <div class='card-block'>
              Jobzzzzz
            </div>
            <div class='card-block'>
              Job 2
            </div>
          </div>
        </p> -->
      </div>
    </div>
  </div>
</div>
