<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Athiti|Cantarell|Raleway|Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/user_bar" %>
    <%= render partial: "shared/application_nav", locals: { style: "app-nav"} %>
    <div class="container cover-container">
      <%= video_tag(
        'portfolio_bg_vid_medium.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        controls: true,
      )
      %>

      <%= yield %>

      <%= render partial: "shared/vid_buttons", locals: { style: 'pages-vid-buttons'} %>
      <%= render "shared/application_footer" %>
      <%= alert %>
    </div>
  </body>
</html>
