<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Athiti|Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/user_bar" %>
    <%= render partial: 'shared/application_nav', locals: { style: 'blog-nav'} %>
    <%= render 'shared/blog_masthead' unless logged_in?(:site_admin) %>

    <div class="container">
      <%=  source_helper('alert blog-source') %>
      <!-- <div style="margin-bottom: 30px"><h2>Real Posts Coming Soon</h2>  <span style="">Second week of July 2017</span></div> -->
      <div class="row">

        <%= yield %>

        <%= render 'shared/blog_sidebar' %>
      </div>
      <% alert %>
    </div>
    <%= render 'shared/blog_footer' %>
  </body>
</html>
